body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: white;
    /* background-color: rgb(27, 27, 27); */
  }
  
  h1 {
    font-style: none;
    color: #000000;
    height: 400px;
  }

  .card {
    background-color: white;
    height: 700px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px; 
    border-radius: 1em;
    padding: 2em;
    text-align: center;
  }

  .buttons {
    align-items: center;
  }

  #next {
    position: relative;
    bottom: 0;
    margin-bottom: 1em;
    height: 50px;
    width: 150px;
  }



  #go-restart-button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    margin: 2em;
    width: 150px;
    font-size: 2rem;
  }

